@model IEnumerable<tmdt_th_newsweb.Models.NhanVien>
@using tmdt_th_newsweb.Models;
@{
    ViewBag.Title = "DSNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.act2 = "active";
    ViewBag.us = "show";
    ViewBag.nv = "active";
    TMDT_TH_newsWebEntities db = new TMDT_TH_newsWebEntities();
    var dscv = db.ChucVus.ToList();
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "success0")
    {
        <script>
            swal({
                title: "Thêm nhân viên thành công",
                text: "Nhân viên @TempData["tenkh"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "error0")
    {
        <script>
            swal({
                title: "Thêm nhân viên không thành công",
                text: "Nhân viên @TempData["tenkh"] đã bị hủy. Nội dung lỗi : @TempData["mess"]",
                icon: "error",
                button: "OK",
            });
        </script>
    }
}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#menu0"><h4 class="btn btn-outline-warning">Danh sách nhân viên còn sử dụng</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1"><h5 class="btn btn-outline-info">Danh sách nhân viên bị thu hồi</h5></a>
            </li>
        </ul>
    </ul>
    @*Page Heading*@
    <div class="tab-content">
        <div id="menu0" class="tab-pane active">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách nhân viên đang tồn tại trong hệ thống </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="button-group">
                                <button class="btn btn-sm btn-success" data-target="#myModal" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                                <a class="btn btn-sm btn-secondary" type="button" title="Sao chép" href="~/Admin/DSNV"><i class="fa fa-retweet" aria-hidden="true"></i> Làm mới</a>
                                <button class="btn btn-sm btn-primary" type="button" id="btn-ImportExcel" data-target="#importModal" data-toggle="modal"><i class="fas fa-file-import"></i> Nhập Excel</button>
                                <button class="btn btn-sm btn-info" id="button_excel" title="Xuất file Excel"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table data-cols-width="30,20,20,20,20,20,40" class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Mã NV</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">UserName</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Tên NV</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Đia chỉ</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Email</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Số ĐT</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Chức vụ</th>
                                    <th data-exclude="true">Chức năng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr data-exclude="true">
                                    <th>Mã NV</th>
                                    <th>Username</th>
                                    <th>Tên NV</th>
                                    <th>Đia chỉ</th>
                                    <th>Email</th>
                                    <th>Số ĐT</th>
                                    <th>Chức vụ</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td data-b-a-s="thin">@item.MaNV</td>
                                            <td data-b-a-s="thin">@item.UserName</td>
                                            <td data-b-a-s="thin">@item.TenNV</td>
                                            <td data-b-a-s="thin">@item.DiaChi</td>
                                            <td data-b-a-s="thin">@item.Email</td>
                                            <td data-b-a-s="thin">@item.SDT</td>
                                            <td data-b-a-s="thin">@item.MaCV</td>
                                            <td>
                                                <button class="btn btn-success btn-sm edit" id="ChinhSuaNV">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button class="btn btn-success btn-sm save edit" style="display:none" id="luutt"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                <button class="btn btn-danger btn-sm edit" id="xoaNV">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*DataTales Example*@
</div>

<!--Modal-->
<!--Phần modal thêm mới nhân viên-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Thêm mới nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="~/Admin/ThemNV" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row" id="nd">

                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập tên nhân viên : </label>
                            <input class="form-control text-box single-line col-sm-5" id="TenNV" name="TenNV" type="text" required>
                            <span class="control-label input-group-addon" id="icon2"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess2"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập địa chỉ : </label>
                            <input class="form-control text-box single-line col-sm-5" id="DiaChi" name="DiaChi" type="text" required>
                            <span class="control-label input-group-addon" id="icon3"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess3"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập Email : </label>
                            <input class="form-control text-box single-line col-sm-5" id="Email" name="Email" type="email" required>
                            <span class="control-label input-group-addon" id="icon4"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess4"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập số điện thoại : </label>
                            <input class="form-control text-box single-line col-sm-5" id="SDT" name="SDT" type="tel" required>
                            <span class="control-label input-group-addon" id="icon4"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess4"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập username : </label>
                            <input class="form-control text-box single-line col-sm-5" id="UserName" name="UserName" type="text" required>
                            <span class="control-label input-group-addon" id="icon5"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess5"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12">
                            <label class="control-label col-sm-5" for="TenTK">Chọn chức vụ: </label>
                            <select class="form-control" name="MaCV" id="MaCV" required>
                                <option selected disabled>--Vui lòng chọn--</option>
                                @{ foreach (var item01 in dscv)
                                    {
                                        <option value="@item01.MaCV">@item01.TenCV</option>
                                    }
                                }
                            </select>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess5"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="btnAdd">Thêm mới</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!--Phần chỉnh sửa thông tin nhân viên-->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="myModalLabelE">Cập nhật thông tin nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEdit" action="~/Admin/ChinhSuaNV" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row" id="nd">
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Mã NV: </label>
                            <input class="form-control text-box single-line col-sm-5" id="IDE" name="ID" type="text" hidden required>
                            <input class="form-control text-box single-line col-sm-5" id="IDE1" type="text">
                            <span class="control-label input-group-addon" id="icon0"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess0"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập tên nhân viên : </label>
                            <input class="form-control text-box single-line col-sm-5" id="TenNVE" name="TenNV" type="text" required>
                            <span class="control-label input-group-addon" id="icon2"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess2"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập địa chỉ : </label>
                            <input class="form-control text-box single-line col-sm-5" id="DiaChiE" name="DiaChi" type="text" required>
                            <span class="control-label input-group-addon" id="icon3"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess3"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập Email : </label>
                            <input class="form-control text-box single-line col-sm-5" id="EmailE" name="Email" type="text" required>
                            <span class="control-label input-group-addon" id="icon4"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess4"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập số điện thoại : </label>
                            <input class="form-control text-box single-line col-sm-5" id="SDTE" name="SDT" type="text" required>
                            <span class="control-label input-group-addon" id="icon4"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess4"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12">
                            <label class="control-label col-sm-5" for="TenTK">Chọn chức vụ: </label>
                            <select class="form-control" name="MaCV" id="MaCVE" required>
                                <option selected disabled>--Vui lòng chọn--</option>
                                @{ foreach (var item01 in dscv)
                                    {
                                        <option value="@item01.MaCV">@item01.TenCV</option>
                                    }
                                }
                            </select>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess5"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="btnEdit">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Model xác nhận xóa nhân viên -->
<div class="modal fade" id="deleteModal1" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel1">Xác nhận xóa nhân viên này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa nhân viên này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDelete1">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="~/Content/js/tableToExcel.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/Vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "url": '@Url.Content("~/Content/Vendor/datatables/json.json")'
                }
            });
            //Chỉnh sửa nhân viên
            $('#dataTable').on('click', '#ChinhSuaNV', function () {
                var id = $(this).closest("tr").find("td:nth-child(1)").text();
                var username = $(this).closest("tr").find("td:nth-child(2)").text();
                var tennv = $(this).closest("tr").find("td:nth-child(3)").text();
                var sdt = $(this).closest("tr").find("td:nth-child(6)").text();
                var diachi = $(this).closest("tr").find("td:nth-child(4)").text();
                var email = $(this).closest("tr").find("td:nth-child(5)").text();
                var loaiCV = $(this).closest("tr").find("td:nth-child(7)").text();
                console.log(loaiCV);

                // Đặt giá trị của các trường trong modal
                $("#IDE").val(id);
                $("#IDE1").val(id);
                $('#IDE1').attr('disabled', 'disabled');
                $("#UserNameE").val(username);
                $("#TenNVE").val(tennv);
                $("#SDTE").val(sdt);
                $("#DiaChiE").val(diachi);
                $("#EmailE").val(email);
                $("#MaCVE").val(loaiCV);


                // Hiển thị modal
                $("#myModalEdit").modal("show");
            });
            //Xóa nhân viên
            $('#dataTable').on('click', '#xoaNV', function () {
                var manv = $(this).closest('tr').find('td:first-child').text().trim();
                $('#deleteModalLabel1').html('Xác nhận xóa nhân viên: ' + manv);
                $('#deleteModal1').modal('show');

                $('#confirmDelete1').on('click', function () {
                    $.ajax({
                        url: '/Admin/XoaNV',
                        type: 'POST',
                        data: JSON.stringify({ MaNV: manv }),
                        contentType: 'application/json',
                        success: function (response) {
                            // Hiển thị thông báo thành công (nếu cần thiết)
                            if (response.success == true) {
                                swal({
                                    title: "Xóa nhân viên thành công",
                                    text: "Nhân viên " + manv + " đã được xóa thành công .",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    location.reload(); //Reload lại dữ liệu
                                });
                            } else {
                                swal({
                                    title: "Xóa nhân viên không thành công",
                                    text: "Mã nhân viên " + manv + "không thể xóa.'+'\n'+' Nội dung lỗi: " + response.nd,
                                    icon: "error",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    location.reload(); //Reload lại dữ liệu
                                });
                            }

                        }, error: function (xhr, status, error) {
                            swal({
                                title: "Lỗi",
                                text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                location.reload(); //Reload lại dữ liệu
                            });
                        }
                    });
                });
            });
        });



    </script>
}