@model IEnumerable<tmdt_th_newsweb.Models.BaiViet>
@using tmdt_th_newsweb.Models;
@{
    ViewBag.Title = "Danh sách tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.qltt0 = "active";
    ViewBag.qltt1 = "show";
    ViewBag.qltt2 = "active";
    var user = (tmdt_th_newsweb.Models.NhanVien)HttpContext.Current.Session["userNV"];
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    var checkmess = (string)TempData["messageAlert"];
    if (checkmess == "success0")
    {
        <script>
            swal({
                title: "Thêm bài viết thành công",
                text: "Bài viết với tiêu đề @TempData["tieude"] đã được thêm mới",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "success1")
    {
        <script>
            swal({
                title: "Chỉnh sửa bài viết thành công",
                text: "Mã bài viết @TempData["mabv"] đã được chỉnh sửa",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "success2")
    {
        <script>
            swal({
                title: "Cập nhật chi tiết công thức thành công",
                text: "Chi tiết công thức @TempData["idCT"] đã được cập nhật mới",
                icon: "success",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "error0")
    {
        <script>
            swal({
                title: "Thêm bài viết không thành công",
                text: "Bài viết với tiêu đề @TempData["tieude"] đã bị hủy. Nội dung lỗi : @TempData["mess"]",
                icon: "error",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "error1")
    {
        <script>
            swal({
                title: "Chỉnh sửa bài viết không thành công",
                text: "Mã bài viết @TempData["mabv"] không thể thêm chi tiết. Nội dung lỗi : @TempData["messER"]",
                icon: "error",
                button: "OK",
            });
        </script>
    }
    else if (checkmess == "error2")
    {
        <script>
            swal({
                title: "Cập nhật chi tiết công thức không thành công",
                text: "Công thức @TempData["idCT"] không thể thêm chi tiết. Nội dung lỗi : @TempData["messER"]",
                icon: "error",
                button: "OK",
            });
        </script>
    }
}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#menu0"><h4 class="btn btn-outline-warning">Danh sách tin tức còn hoạt động</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1"><h5 class="btn btn-outline-info">Danh sách tin tức bị từ chối</h5></a>
            </li>

        </ul>
    </ul>
    @*Page Heading*@
    <div class="tab-content">
        <div id="menu0" class="tab-pane active">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách tin tức đang tồn tại trong hệ thống </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="button-group">
                                <button class="btn btn-sm btn-success" data-target="#myModal" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
                                <a class="btn btn-sm btn-secondary" type="button" title="Sao chép" href="~/Admin/DSTT"><i class="fa fa-retweet" aria-hidden="true"></i> Làm mới</a>
                                <button class="btn btn-sm btn-primary" type="button" id="btn-ImportExcel" data-target="#importModal" data-toggle="modal"><i class="fas fa-file-import"></i> Nhập Excel</button>
                                <button class="btn btn-sm btn-info" id="button_excel" title="Xuất file Excel"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table data-cols-width="30,20,20,20,20,20,40" class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Tiêu đề</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Nội dung</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Ngày đăng</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID nhân viên</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID khách hàng</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Trạng thái</th>
                                    <th data-exclude="true">Chức năng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr data-exclude="true">
                                    <th>ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Ngày đăng</th>
                                    <th>ID nhân viên</th>
                                    <th>ID khách hàng</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        if (item.TrangThai == 0 || item.TrangThai == 1 || item.TrangThai == 3)
                                        {
                                            <tr>
                                                <td data-b-a-s="thin">@item.MaBV</td>
                                                <td data-b-a-s="thin">@item.TieuDe</td>
                                                <td data-b-a-s="thin">@item.NoiDung</td>
                                                <td data-b-a-s="thin">@item.NgayDang</td>
                                                <td data-b-a-s="thin">@item.MaNV</td>
                                                <td data-b-a-s="thin">@item.MaKH</td>
                                                @{
                                                    if (item.TrangThai == 0)
                                                    {
                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-warning">
                                                                Chưa duyệt
                                                            </div>
                                                        </td>

                                                    }
                                                    else if (item.TrangThai == 1)
                                                    {


                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-success">
                                                                Đã duyệt
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td data-b-a-s="thin">
                                                            <div class="btn btn-sm btn-warning">
                                                                Yêu cầu xét duyêt lại
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                            <td>
                                                @{
                                                    if (user.MaCV == "Admin" && (item.TrangThai == 0 || item.TrangThai == 3))
                                                    {
                                                        <button class="btn btn-success btn-sm edit" id="ChinhSuaTT">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-success btn-sm save edit" id="duyetTT">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                        <button class="btn btn-danger btn-sm edit" id="tuchoiTT">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>

                                                    }
                                                    else if ((user.MaCV == "Admin" && item.TrangThai > 0) || (user.MaCV == "NV" && item.TrangThai == 0 || item.TrangThai == 3))
                                                    {

                                                        <button class="btn btn-success btn-sm edit" id="ChinhSuaTT">
                                                            <i class="fa fa-edit"></i>
                                                        </button>

                                                    }
                                                    if (user.MaCV == "Admin")
                                                    {
                                                        <button class="btn btn-danger btn-sm edit" id="xoaTT">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    }

                                                }
                                            </td>
                                            </tr>
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách công thức đang tạm ngừng triển khai trong hệ thống </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="button-group">
                                <button class="btn btn-sm btn-info" id="button_excel1" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table data-cols-width="30,20,20,20,20,20,30" class="table table-hover table-bordered" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Tiêu đề</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Nội dung</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Ngày đăng</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID nhân viên</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">ID khách hàng</th>
                                    <th data-a-h="center" data-a-v="middle" data-b-a-s="thick" data-f-bold="true">Trạng thái</th>
                                    <th data-exclude="true">Chức năng</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr data-exclude="true">
                                    <th>ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Ngày đăng</th>
                                    <th>ID nhân viên</th>
                                    <th>ID khách hàng</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        if (item.TrangThai >= 2)
                                        {
                                            <tr>
                                                <td data-b-a-s="thin">@item.MaBV</td>
                                                <td data-b-a-s="thin">@item.TieuDe</td>
                                                <td data-b-a-s="thin">@item.NoiDung</td>
                                                <td data-b-a-s="thin">@item.NgayDang</td>
                                                <td data-b-a-s="thin">@item.MaNV</td>
                                                <td data-b-a-s="thin">@item.MaKH</td>
                                                <td data-b-a-s="thin">
                                                    <div class="btn btn-sm btn-info">
                                                        Từ chối
                                                    </div>
                                                </td>
                                                <td>
                                                    @{
                                                        if (user.MaCV != "Admin")
                                                        {
                                                            <button class="btn btn-primary btn-sm edit" id="xetDuyetLai">
                                                                <i class="fa fa-arrow-left"></i>
                                                            </button>
                                                        }
                                                    }
                                                    <button class="btn btn-success btn-sm edit" id="ChinhSuaTT">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm edit" id="xoaTT">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Modal-->
<!--Phần modal thêm mới bài viết-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Thêm mới tin tức cho chi nhánh</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="~/Admin/ThemTT" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row" id="nd">
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập tiêu đề: </label>
                            <input class="form-control text-box single-line col-sm-5" id="TieuDe" name="TieuDe" type="text" required>
                            <span class="control-label input-group-addon" id="icon1"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess1"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label col-sm-5" for="TenCT">Nhập nội dung : </label>
                            <textarea class="form-control" placeholder="Nhập nội dung...." name="NoiDung" id="NoiDung" style="height:100px" required></textarea>
                            <span class="control-label input-group-addon" id="icon2"></span>
                            <div class="col-sm-5">
                                <p id="mess2"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="btnAdd">Thêm mới</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Phần modal chỉnh sửa bài viết -->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="myModalLabelE">Cập nhật thông tin thiết bị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEdit" action="~/Admin/ChinhSuaTT" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row" id="nd">
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="IDMA">Mã tin tức: </label>
                            <input class="form-control text-box single-line col-sm-5" id="ID" name="MaBV" type="text" hidden required>
                            <input class="form-control text-box single-line col-sm-5" id="IDED1" disabled type="text">
                            <span class="control-label input-group-addon" id="icon6"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class="form-group col-sm-5">
                                <p id="mess6"></p>
                            </div>
                        </div>
                        <div class="form-group form-inline col-lg-12" style="height:40px;">
                            <label class="control-label col-sm-5" for="TenCT">Nhập tiêu đề: </label>
                            <input class="form-control text-box single-line col-sm-5" id="EDTieuDe" name="TieuDe" type="text" required>
                            <span class="control-label input-group-addon" id="icon3"></span>
                            <div class="form-group col-sm-5">
                            </div>
                            <div class=" form-group col-sm-5">
                                <p id="mess3"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label col-sm-5" for="TenCT">Nhập nội dung : </label>
                            <textarea class="form-control" placeholder="Nhập nội dung...." name="NoiDung" id="EDNoiDung" style="height:100px" required></textarea>
                            <span class="control-label input-group-addon" id="icon4"></span>
                            <div class="col-sm-5">
                                <p id="mess4"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="btnEdit">Cập nhật</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!--Phần modal xét duyệt bài viết-->
<div class="modal fade" id="confirmTT" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel1">Xác nhận xét duyệt bài viết này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xác nhận bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmTT">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--Phần modal từ chối bài viết-->
<div class="modal fade" id="rejectedTT" tabindex="-1" role="dialog" aria-labelledby="rejectedModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectedModalLabel1">Xác nhận từ chối bài viết này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn từ chối bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="rejectedTT">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--Phần modal xóa bài viết-->
<div class="modal fade" id="deletedmodalTT" tabindex="-1" role="dialog" aria-labelledby="deletedModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletedModalLabel1">Xác nhận xóa bài viết này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="deletedTT">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--Phần mmodal yêu xầu xét duyêt lại bài viết dành cho nhân viên-->
<div class="modal fade" id="RequestConfirmAgain" tabindex="-1" role="dialog" aria-labelledby="deletedModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="againModalLabel1">Xác nhận xét duyệt lai bài viết này</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xét duyệt lại bài viết này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="btnConfirm">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/Content/js/tableToExcel.js"></script>
    <!-- Page level plugins -->
    <script src="~/Content/Vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#dataTable').DataTable({
                "language": {
                    "url": '@Url.Content("~/Content/Vendor/datatables/json.json")'
                }
            });

            //Kiểm tra tiêu đề
            $('#TieuDe').on('input', function () {
                var input = $(this);
                var icon1 = $('#icon1');
                var ndmess1 = $('#mess1');
                if (input.val().trim() == "") {
                    icon1.html('<i class="fa fa-exclamation-circle ml-3 hidden-icon" aria-hidden="true"></i>');
                    check1 = 0;
                    ndmess1.attr('style', 'color:blue;font-size:12px;font-weight:bold');
                    ndmess1.html('Vui lòng nhập nội dung .... !');
                }
                else {
                    // Thực hiện kiểm tra bằng Ajax và nhận phản hồi từ máy chủ
                    // Ví dụ: gửi yêu cầu kiểm tra tên công ty đến /kiem-tra-ten-ct
                    $.ajax({
                        url: '/Admin/KTTieuDe',
                        data: { TenTD: input.val() },
                        method: 'POST',
                        beforeSend: function () {
                            // Hiển thị biểu tượng kiểm tra đang kiểm tra
                            icon1.html('<i class="fa fa-spinner fa-spin ml-3"></i>');
                            icon1.attr('data-target', 'notok');
                            icon1.mouseover(function () {
                                var errorMessage = 'Đang kiểm tra nội dung';
                                $(this).attr('title', errorMessage);
                            });
                            check1 = 0;
                            ndmess1.attr('style', 'color:blue;font-size:12px;font-weight:bold');
                            ndmess1.html('Vui lòng đợi trong giây lát .... !');
                        },
                        success: function (response) {
                            // Xử lý phản hồi từ máy chủ
                            if (response.success == false) {
                                // Hiển thị biểu tượng không được dùng
                                icon1.html('<i class="fa fa-times-circle text-danger ml-3 "></i>');
                                icon1.attr('data-target', 'notok');
                                icon1.mouseover(function () {
                                    var errorMessage = 'Tên tiêu đề đã bị trùng';
                                    $(this).attr('title', errorMessage);
                                });
                                check1 = 0;
                                ndmess1.attr('style', 'color:red;font-size:12px;font-weight:bold');
                                ndmess1.html('Tên tiêu đề đã bị trùng !');
                            } else {
                                // Hiển thị biểu tượng dấu tích xanh
                                icon1.html('<i class="fa fa-check-circle text-success ml-3" id="ic2" data-target="ok"></i>');
                                icon1.attr('data-target', 'ok');
                                icon1.mouseover(function () {
                                    var errorMessage = 'Tên tiêu đề hợp lệ';
                                    $(this).attr('title', errorMessage);
                                });
                                check1 = 1;
                                ndmess1.attr('style', 'color:green;font-size:12px;font-weight:bold');
                                ndmess1.html('Tên tiêu đề hợp lệ.');
                            }
                        },
                        error: function () {
                            // Xử lý lỗi (nếu có)
                            // Hiển thị biểu tượng không được dùng hoặc thông báo lỗi khác
                            icon1.html('<i class="fa fa-times-circle text-danger"></i> Không xác định được lỗi!');
                            icon1.attr('data-target', 'notok');
                            icon1.mouseover(function () {
                                var errorMessage = 'Lỗi không xác định';
                                $(this).attr('title', errorMessage);
                            });
                            check1 = 0;
                            ndmess1.attr('style', 'color:red;font-size:12px;font-weight:bold');
                            ndmess1.html('Không xác định được lỗi!');
                        }
                    });
                };
            });
            //Kiểm tra nội dung

            //Chỉnh sửa nội dung bài viết
            $('#dataTable, #dataTable1').on('click', '#ChinhSuaTT', function () {
                var id = $(this).closest("tr").find("td:nth-child(1)").text();
                var tieude = $(this).closest("tr").find("td:nth-child(2)").text();
                var noidung = $(this).closest("tr").find("td:nth-child(3)").text();

                //Lấy dữ liệu hình ảnh từ database

                // Đặt giá trị của các trường trong modal
                $("#ID").val(id);
                $("#IDED1").val(id);
                $('#IDED1').attr('disabled', 'disabled');

                $("#EDTieuDe").val(tieude);
                //Tiến hành kiểm tra tiêu đề
                $('#EDTieuDe').on('input', function () {
                    var input = $(this);
                    var icon1 = $('#icon3');
                    var ndmess1 = $('#mess3');
                    if (input.val().trim() == "") {
                        icon1.html('<i class="fa fa-exclamation-circle ml-3 hidden-icon" aria-hidden="true"></i>');
                        check1 = 0;
                        ndmess1.attr('style', 'color:blue;font-size:12px;font-weight:bold');
                        ndmess1.html('Vui lòng nhập nội dung .... !');
                    }
                    else {
                        // Thực hiện kiểm tra bằng Ajax và nhận phản hồi từ máy chủ
                        // Ví dụ: gửi yêu cầu kiểm tra tên công ty đến /kiem-tra-ten-ct
                        $.ajax({
                            url: '/Admin/KTTieuDe',
                            data: { TenTD: input.val() },
                            method: 'POST',
                            beforeSend: function () {
                                // Hiển thị biểu tượng kiểm tra đang kiểm tra
                                icon1.html('<i class="fa fa-spinner fa-spin ml-3"></i>');
                                icon1.attr('data-target', 'notok');
                                icon1.mouseover(function () {
                                    var errorMessage = 'Đang kiểm tra nội dung';
                                    $(this).attr('title', errorMessage);
                                });
                                check1 = 0;
                                ndmess1.attr('style', 'color:blue;font-size:12px;font-weight:bold');
                                ndmess1.html('Vui lòng đợi trong giây lát .... !');
                            },
                            success: function (response) {
                                // Xử lý phản hồi từ máy chủ
                                if (response.success == false) {
                                    // Hiển thị biểu tượng không được dùng
                                    icon1.html('<i class="fa fa-times-circle text-danger ml-3 "></i>');
                                    icon1.attr('data-target', 'notok');
                                    icon1.mouseover(function () {
                                        var errorMessage = 'Tên tiêu đề đã bị trùng';
                                        $(this).attr('title', errorMessage);
                                    });
                                    check1 = 0;
                                    ndmess1.attr('style', 'color:red;font-size:12px;font-weight:bold');
                                    ndmess1.html('Tên tiêu đề đã bị trùng !');
                                } else {
                                    // Hiển thị biểu tượng dấu tích xanh
                                    icon1.html('<i class="fa fa-check-circle text-success ml-3" id="ic2" data-target="ok"></i>');
                                    icon1.attr('data-target', 'ok');
                                    icon1.mouseover(function () {
                                        var errorMessage = 'Tên tiêu đề hợp lệ';
                                        $(this).attr('title', errorMessage);
                                    });
                                    check1 = 1;
                                    ndmess1.attr('style', 'color:green;font-size:12px;font-weight:bold');
                                    ndmess1.html('Tên tiêu đề hợp lệ.');
                                }
                            },
                            error: function () {
                                // Xử lý lỗi (nếu có)
                                // Hiển thị biểu tượng không được dùng hoặc thông báo lỗi khác
                                icon1.html('<i class="fa fa-times-circle text-danger"></i> Không xác định được lỗi!');
                                icon1.attr('data-target', 'notok');
                                icon1.mouseover(function () {
                                    var errorMessage = 'Lỗi không xác định';
                                    $(this).attr('title', errorMessage);
                                });
                                check1 = 0;
                                ndmess1.attr('style', 'color:red;font-size:12px;font-weight:bold');
                                ndmess1.html('Không xác định được lỗi!');
                            }
                        });
                    };
                });

                $('#EDNoiDung').val(noidung);
                $('#myModalEdit').modal('show');

            });
            //Xác nhận xét duyệt bài viết
            $('#dataTable').on('click', '#duyetTT', function () {
                var matt = $(this).closest('tr').find('td:first-child').text();

                $('#confirmModalLabel1').html('Xác nhận xét duyệt bài viết này ' + matt);
                $('#confirmTT').modal('show');

                $('#confirmTT').on('click', function () {
                    $.ajax({
                        url: '/Admin/DuyetTT',
                        type: 'POST',
                        data: JSON.stringify({ MaBV: matt }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "Json",
                        success: function (response) {
                            // Hiển thị thông báo thành công (nếu cần thiết)
                            if (response.success == true) {
                                swal({
                                    title: "Xét duyệt bài viết thành công",
                                    text: "Mã bài viết: " + response.mabv + " đã được thu hồi",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                    //$row.remove();
                                });
                            } else {
                                swal({
                                    title: "Xét duyệt bài viết không thành công",
                                    text: "Mã bài viết " + response.mabv + " không thể thực hiện. " + "\n" + "Nội dung lỗi: " + response.nd,
                                    icon: "error",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                });
                            }

                        }, error: function (xhr, status, error) {
                            swal({
                                title: "Lỗi",
                                text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                $('#confirmTT').modal('hide');
                            });
                        }
                    });
                });
            });
            //Xác nhận từ chối bài viết
            $('#dataTable').on('click', '#tuchoiTT', function () {
                var matt = $(this).closest('tr').find('td:first-child').text();

                $('#rejectedModalLabel1').html('Xác nhận từ chối bài viết này ' + matt);
                $('#rejectedTT').modal('show');

                $('#rejectedTT').on('click', function () {
                    $.ajax({
                        url: '/Admin/TuchoiTT',
                        type: 'POST',
                        data: JSON.stringify({ MaBV: matt }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "Json",
                        success: function (response) {
                            // Hiển thị thông báo thành công (nếu cần thiết)
                            if (response.success == true) {
                                swal({
                                    title: "Từ chối bài viết thành công",
                                    text: "Mã bài viết: " + response.mabv + " đã được từ chối",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                    //$row.remove();
                                });
                            } else {
                                swal({
                                    title: "Từ chối bài viết không thành công",
                                    text: "Mã bài viết " + response.mabv + " không thể thực hiện. " + "\n" + "Nội dung lỗi: " + response.nd,
                                    icon: "error",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                });
                            }

                        }, error: function (xhr, status, error) {
                            swal({
                                title: "Lỗi",
                                text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                $('#confirmTT').modal('hide');
                            });
                        }
                    });
                });
            });
            //Xóa bài viết
            $('#dataTable, #dataTable1').on('click', '#xoaTT', function () {
                var matt = $(this).closest('tr').find('td:first-child').text();

                $('#deletedModalLabel1').html('Xác nhận xóa bài viết này ' + matt);
                $('#deletedmodalTT').modal('show');

                $('#deletedTT').on('click', function () {
                    $.ajax({
                        url: '/Admin/XoaTT',
                        type: 'POST',
                        data: JSON.stringify({ MaBV: matt }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "Json",
                        success: function (response) {
                            // Hiển thị thông báo thành công (nếu cần thiết)
                            if (response.success == true) {
                                swal({
                                    title: "Xóa bài viết thành công",
                                    text: "Mã bài viết: " + response.mabv + " đã được xóa",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                    //$row.remove();
                                });
                            } else {
                                swal({
                                    title: "Xóa bài viết không thành công",
                                    text: "Mã bài viết " + response.mabv + " không thể thực hiện. " + "\n" + "Nội dung lỗi: " + response.nd,
                                    icon: "error",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                });
                            }

                        }, error: function (xhr, status, error) {
                            swal({
                                title: "Lỗi",
                                text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                $('#confirmTT').modal('hide');
                            });
                        }
                    });
                });
            });
            //Xét duyệt lại bài viết
            $('#dataTable1').on('click', '#xetDuyetLai', function () {
                var mabv = $(this).closest('tr').find('td:first-child').text();

                $('#againModalLabel1').html('Xác nhận xét duyệt lại ' + mabv);
                $('#RequestConfirmAgain').modal('show');

                $('#btnConfirm').on('click', function () {
                    $.ajax({
                        url: '/Admin/xetDuyetLaiTT',
                        type: 'POST',
                        data: JSON.stringify({ MaBV: mabv }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "Json",
                        success: function (response) {
                            // Hiển thị thông báo thành công (nếu cần thiết)
                            if (response.success == true) {
                                swal({
                                    title: "Yều cầu Xét duyệt lại bài viết thành công",
                                    text: "Mã bài viết: " + response.mabv + " đã được gửi yêu cầu lại!",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                    //$row.remove();
                                });
                            } else {
                                swal({
                                    title: "Yều cầu Xét duyệt lại không thành công",
                                    text: "Mã bài viết " + response.mabv + " không thể thực hiện. " + "\n" + "Nội dung lỗi: " + response.nd,
                                    icon: "error",
                                    button: "OK",
                                }).then(function () {
                                    // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                    $('#confirmTT').modal('hide');
                                    location.reload(); //Reload lại dữ liệu
                                });
                            }

                        }, error: function (xhr, status, error) {
                            swal({
                                title: "Lỗi",
                                text: "Đã xảy ra lỗi trong quá trình gửi yêu cầu",
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                // Thực hiện các hành động sau khi người dùng nhấn nút "OK"
                                $('#confirmTT').modal('hide');
                            });
                        }
                    });
                });
            });
        });
    </script>
}
